@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	background: #DCDCC6;
}
.main {
	position: relative;
	height: 570px;
	width: 400px;
	text-align: center;
	border-radius: 50px;
  overflow: hidden;
  background: #f5f5dc;
  box-shadow:  -20px 20px 60px #939384,
             20px -20px 60px #F5F5DC;
}
.main .hr {
  opacity: .5;
	margin: auto;
	width: 80%;
	height: 3px;
	border-radius: 20px;
	background: #494942;
  box-shadow: 0px 0px 8px #494942;
}
.main .icon img {
  margin-top: 20px;
  height: 100px;

}
.main .title {
  font-size: 1em;
  font-weight: bold;
}
.main .info {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0px;
}
.button {
  color: #000;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
  color: #83322c;
}
.main .social {
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
}
.main .social .soc {
  position: relative;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.main .social .soc li a {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 8px;
  display: grid;
  text-decoration: none;
  background: #C4C4B0;
  font-size: 50px;
}
.main .learn {
	padding: 0px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0px;
  line-height: 1.5;
	list-style-type: none;
}
.main::before {
  content: '';
  position: absolute;
  height: 570px;
  width: 400px;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #5c8499, #5c8499);
  justify-content: center;
  align-items: center;
  display: flex;
  transform-origin: bottom right;
  animation: lines 5s linear infinite;
}
.main::after {
  content: '';
  position: absolute;
  height: 570px;
  width: 400px;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #83322c, #83322c);
  justify-content: center;
  align-items: center;
  display: flex;
  transform-origin: bottom right;
  animation: lines 5s linear infinite;
  animation-delay: -2500ms;
}
@keyframes lines {
	0% {
    transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.main .box {
  position: absolute;
  inset: 5px;
  border-radius: 50px;
  background: #C4C4B0;
  z-index: 10;
  box-shadow: inset -10px 10px 30px #939384,
               inset 10px -10px 30px #F5F5DC;
}
.main .nick {
  color: #494942;
  filter: blur(4px);
  opacity: .6;
  top: 15px;
  left: 70%;
  position: absolute;
  font-weight: bold;
  font-size: 100px;
  writing-mode: vertical-rl;
  }
