@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	background: #eaf6ff;
}
.main {
	position: relative;
	height: 570px;
	width: 400px;
	text-align: center;
	border-radius: 60px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.25),
              -10px -10px 30px rgba(0, 0, 0, 0.1);
}
.main .hr {
	margin: auto;
	width: 80%;
	height: 3px;
	border-radius: 20px;
	background: #00FFF3;
  box-shadow: inset 0px 0px 18px #00FFF3, 0px 0px 18px #00FFF3;
}
.main .icon img {
  margin-top: 20px;
  height: 100px;

}
.main .title {
  font-size: 1em;
  font-weight: bold;
}
.main .info {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0px;
}
.button {
  color: #000;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
  color: #00FFF3;
}
.main .social {
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
}
.main .social .soc {
  position: relative;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.main .social .soc li a {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 8px;
  display: grid;
  text-decoration: none;
  background: #fff;
  font-size: 50px;
}
.main .learn {
	padding: 0px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0px;
  line-height: 1.5;
	list-style-type: none;
}
.main::before {
  content: '';
  position: absolute;
  height: 570px;
  width: 400px;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #00FFF3, #00FFF3);
  justify-content: center;
  align-items: center;
  display: flex;
  transform-origin: bottom right;
  animation: lines 5s linear infinite;
}
.main::after {
  content: '';
  position: absolute;
  height: 570px;
  width: 400px;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #00FFF3, #00FFF3);
  justify-content: center;
  align-items: center;
  display: flex;
  transform-origin: bottom right;
  animation: lines 5s linear infinite;
  animation-delay: -2500ms;
}
@keyframes lines {
	0% {
    transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.main .box {
  position: absolute;
  inset: 2px;
  border-radius: 60px;
  background: #fff;
  z-index: 10;
  box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.5);
}
.main .nick {
  filter: blur(6px);
  opacity: .5;
  top: 15px;
  left: 70%;
  position: absolute;
  font-weight: bold;
  font-size: 100px;
  writing-mode: vertical-rl;
  }
